/*navbar*/
.top-bar{
	margin-bottom: 0px;
	background-color: #2C3E50;
}
.top-bar-section li a:not(.button){
	background: #2C3E50;
}
.top-bar-section li a:hover{
	background: #16A085;
}
.top-bar-section .divider,
.top-bar-section [role="separator"] {
  border-bottom: solid 1px #fff;
  border-top: solid 1px #2C3E50;
  clear: both;
  height: 1px;
  width: 100%; 
}

.top-bar.expanded .title-area {
background: #2C3E50;
}
.top-bar-section ul li.active > a {
background: #E74C3C;
color: white;
}

@media only screen and (min-width: 58.75em) {
	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
		border-bottom: none;
		border-top: none;
		border-right: solid 1px #fff;
		border-left: solid 1px #2C3E50;
		clear: none;
		height: 45px;
		width: 0px;
	}
}

/*topbar*/
.top{
	overflow: hidden;
	position: relative;

	width: 100%
	padding-bottom: 40px;

}
.top .header{
	font-size: 24px;
	padding-top:20px;
	line-height: 30px;
	margin: 0px;
	color:#2C3E50;
}
.top .subheader{
	font-size: 16px;
	line-height: 20px;
	margin: 0px;
	padding-bottom: 20px;
	color:#2C3E50;
}
.top .subheader a,
.top .header a{
	color:#2C3E50;
}

.links{
	margin-top: 43px;
	margin-bottom: 20px;
}
.logo{
padding-left: 70px;
background: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/logo-new.png) no-repeat center left;
}

/*sidenav*/
.side-nav{
	font-size: 18px;
}
.side-nav li>a:hover{
	color:#ccc;
}

/*body*/
p{
	padding-bottom: 1em;
}
em{
	font-style: Georgia, 'Times New Roman', Times, serif;;
}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
	line-height: 1.4em;
}

table {
	border: none;
}
table thead, table tfoot {
background: #ECF0F1;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #ECF0F1;
}
.reg-container{
	padding: 40px 0;
	margin: 0;
	background: #eee;
}
.row .row {
margin-bottom: 20px;
}
blockquote {
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
border: none;
background:#ECF0F1;
}
.label.alert {
background-color: #2C3E50;
}
.section-container > section > .title a {
	white-space: normal;
}
.news-date{
	border-bottom: solid 1px;
}
/*download section*/
.down-zip {
padding-left: 70px;
padding-bottom: 30px;
background: url(https://raw.github.com/avpnw/avpnw/master/img/b-mail-icon_zip-48.png) no-repeat top left;
}
.down-zip h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
.down-doc {
padding-left: 70px;
padding-bottom: 30px;
background: url(https://raw.github.com/avpnw/avpnw/master/img/b-mail-icon_doc-48.png) no-repeat top left;
}
.down-doc h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
.down-pdf {
padding-left: 70px;
padding-bottom: 30px;
background: url(https://raw.github.com/avpnw/avpnw/master/img/b-mail-icon_pdf-48.png) no-repeat top left;
}
.down-pdf h1,h2,h3,h4,h5,h6,p{
	margin:0;
}


/*footer*/
footer{
	padding-top: 20px;
}

#copyright{
	background-color: #3f3f3f;
	color: #fff;
	padding: 11px 0;
}
#copyright a{
	color: #fff;
	font-size: 14px;
}
#copyright a:hover{
	color: #16A085;
	font-size: 14px;
}


a{
	color:#16A085;
}

.side-nav li a {
display: block;
color: #16A085;
}
