.download-doc,
.download-xls,
.download-ppt,
.download-pdf,
.download-zip {
  display: block;
	padding: 20px;
	margin-left: 80px;
	position: relative;
}
.download-doc:before{
	content: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/b-mail-icon_doc-48.png);
	float: left;
	position: absolute;
	left: -80px;
	display: block;
}
.download-xls:before{
	content: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/b-mail-icon_xls-48.png);
	float: left;
	position: absolute;
	left: -80px;
	display: block;
}
.download-ppt:before{
	content: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/b-mail-icon_ppt-48.png);
	float: left;
	position: absolute;
	left: -80px;
	display: block;
}
.download-pdf:before{
	content: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/b-mail-icon_pdf-48.png);
	float: left;
	position: absolute;
	left: -80px;
	display: block;
	vertical-align: ;
}
.download-zip:before{
	content: url(https://dl.dropboxusercontent.com/u/15654124/avpnw/b-mail-icon_zip-48.png);
	float: left;
	position: absolute;
	left: -80px;
	display: block;
}
