    <footer class="row">
      <div class="large-4 columns">
        <h6><strong>Ассоциация врачей профпатологов</strong></h6>
        <p>ассоциация основана в 2001 году, Учредителями являются Комитет по здравоохранению Санкт-Петербурга и инициативная группа товарищей во главе с Чащиным В.Е.</p>
      </div>

      <div class="large-3 columns">
        <h6><strong>Втупление в ассоциацию?</strong></h6>
        <p>Даст возможность принимать участие в съездах, конференциях и других мероприяниях по сниженной цене и на льготных условиях! <a href="mailto:foundation@zurb.com?subject=I'm%20using%20Foundation">Get in touch &rarr;</a></p>
      </div>

      <div class="large-5 columns">
        <h6><strong>Регистрация на сайте?</strong></h6>
        <p>Поможет получить доступ ко всем материалам сайта и работы ассоциации, предоставит возможность участвовать в форумах и обсуждениях, получать спам рассылку на свой адрес электронной почты <a href="http://foundation.zurb.com/docs/support.html">страничка помощи</a>.</p>
      </div>
    </footer>

    <div id="copyright">
      <div class="row">
        <div class="large-4 columns">
          <p>Права на контент &copy; 2013 АВПНВ.</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><a href="http://foundation.zurb.com">ассоциация</a></li>
            <li><a href="http://foundation.zurb.com/download.php">специалистам</a></li>
            <li><a href="http://foundation.zurb.com/docs">городской центр</a></li>
            <li><a href="http://foundation.zurb.com/docs/changelog.html">контакты</a></li>
            <li><a href="http://foundation.zurb.com/about.php">регистация</a></li>
            <li><a href="http://feeds.feedburner.com/zurb/blog">подписка</a></li>
          </ul>
        </div>
      </div>
    </div>

<script>
  document.write('<script src="http://foundation.zurb.com/docs/assets/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
</script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script>
    $(document)
      
        .foundation();
</script>