    <footer class="row">
      <div class="large-4 columns">
        <h6><strong>Ассоциация врачей профпатологов</strong></h6>
        <p>ассоциация основана в 2001 году, Учредителями являются Комитет по здравоохранению Санкт-Петербурга и инициативная группа товарищей во главе с Чащиным В.П.</p>
      </div>

      <div class="large-3 columns">
        <h6><strong>Втупление в ассоциацию?</strong></h6>
        <p>Даст возможность принимать участие в съездах, конференциях и других мероприяниях по сниженной цене и на льготных условиях!</a></p>
      </div>

      <div class="large-5 columns">
        <h6><strong>Регистрация на сайте?</strong></h6>
        <p>Поможет получить доступ ко всем материалам сайта и работы ассоциации, предоставит возможность участвовать в форумах и обсуждениях, получать рассылку на свой адрес электронной почты <a href="mailto:avpnw@yandex.ru">написать письмо</a>.</p>
      </div>
    </footer>

    <div id="copyright">
      <div class="row">
        <div class="large-4 columns">
          <p>Права на контент &copy; 2013 АВПНВ.</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><a href="{{ site.url }}/avpnw/assoc/ustav/">ассоциация</a></li>
            <li><a href="{{ site.url }}/avpnw/spec/category/">специалистам</a></li>
            <li><a href="{{ site.url }}/avpnw/centre/about/">городской центр</a></li>
            <li><a href="{{ site.url }}/avpnw/contacts/contacts/">контакты</a></li>
            <li><a href="{{ site.url }}/avpnw/reg-form/">регистация</a></li>
            <li><a href="#">подписка</a></li>
          </ul>
        </div>
      </div>
    </div>

<script>
  document.write('<script src="http://foundation.zurb.com/docs/assets/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
</script>
<script src="{{ site.url }}/avpnw/js/foundation/foundation.js"></script>
<script src="{{ site.url }}/avpnw/js/foundation/foundation.topbar.js"></script>
<script src="{{ site.url }}/avpnw/js/foundation/foundation.section.js"></script>
<script src="{{ site.url }}/avpnw/js/foundation/foundation.orbit.js"></script>
<script>
    $(document)
      
        .foundation();
</script>
