    <div class="container-fluid">
      <div class="well">
        <div class="row">
          <div class="pull-left span3">
            <img src="https://dl.dropboxusercontent.com/u/15654124/avpnw/logo100x100.png"
            style=""> 
          </div>
          <div class="span8">
            <p>2013. © Ассоциация врачей профпатологов Санкт-Петербурга и Ленинградской
              области</p>
            <p>Санкт-Петербург, Литейный пр., д. 56, литера "В"</p>
            <p>тел.: 812-275-7446</p>
            <p>e-mail: avpnw@yandex.ru</p>
          </div>
        </div>
      </div>
    </div>