    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="container-fluid">
          <div class="row-fluid">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
          <div class="span3">
            <a class="brand" href="{{ site.url }}/avpnw/"><img src="https://dl.dropboxusercontent.com/u/15654124/avpnw/logo271x50.png"></a>
          </div>
        <div class="span7">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{% if page.categories == 'ассоциация' %} class="active"{% endif %}>
                <a href="{{ site.url }}/avpnw/assoc/ustav/">Ассоциация</a> 
              </li>
              <li{% if page.categories == 'специалистам' %} class="active"{% endif %}>
                <a href="{{ site.url }}/avpnw/spec/category/">Специалистам</a> 
              </li>
              <li{% if page.categories == 'горцентр' %} class="active"{% endif %}>
                <a href="{{ site.url }}/avpnw/centre/about/">Гор центр профпатологии</a> 
              </li>
              <li{% if page.categories == 'контакты' %} class="active"{% endif %}>
                <a href="{{ site.url }}/avpnw/contacts/">Контакты</a> 
              </li>
            </ul>
          </div>
         </div>
 
          <form class="navbar-form pull-right">
            <div class="btn-group">
              <a class="btn">регистация</a>
              <a class="btn">войти</a> 
            </div>
          </form>
          </div>

        </div>
        </div>
        </div>
      </div>
    </div>
