    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">  
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>меню</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li{% if page.categories == 'ассоциация' %} class="active"{% endif %}>
          <a href="{{ site.url }}/avpnw/assoc/ustav/">ассоциация</a> 
          </li>
          <li class="divider"></li>          
          <li{% if page.categories == 'специалистам' %} class="active"{% endif %}>
          <a href="{{ site.url }}/avpnw/spec/category/">специалистам</a> 
          </li>
          <li class="divider"></li>          
          <li{% if page.categories == 'горцентр' %} class="active"{% endif %}>
          <a href="{{ site.url }}/avpnw/centre/about/">городоской центр профпатологии</a> 
          </li> 
          <li class="divider"></li>
          <li{% if page.categories == 'контакты' %} class="active"{% endif %}>
          <a href="{{ site.url }}/avpnw/contacts/contact/">контакты</a> 
          </li> 
      </ul>
      </section>
    </nav>
