<div class="reg-container">
    <div class="row">
      <div class="large-7 columns">
            <h2>Подписка</h2>
            <p>Learn about upcoming events before anyone else by subscribing to our Soapbox alerts. Expect a couple emails a month.</p>
      </div>
      <div class="large-5 columns">

      <form accept-charset="UTF-8" action="#" class="nice custom" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓">
          <input name="authenticity_token" type="hidden" value="UPt5X9dTcIScINkn1pW4rt/fpLehDGzWEsHEvy8svNU=">
        </div>
        <input class="medium input-text oversize" id="full_name" name="full_name" placeholder="Ф.И.О." type="text">
        <input class="medium input-text oversize" id="email" name="email" placeholder="эл. почта" type="text">
        <input class="button stayconnectedbtn" name="commit" type="submit" value="регистрация">
      </form>
      </div>
    </div>
</div>
