<!doctype html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/bootstrap-responsive.css">
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/avpnw/favicon.png" />
    <script src="{{ site.url }}/avpnw/js/jquery.min.js"></script>
    <script src="{{ site.url }}/avpnw/js/bootstrap.min.js"></script>
  </head>
