<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="ru"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="icon" href="{{ site.url }}/avpnw/img/favicons/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/foundation.css" />
    <link rel="stylesheet" href="{{ site.url }}/avpnw/css/foundaddon.css" />
    <script src="{{ site.url }}/avpnw/js/vendor/custom.modernizr.js"></script>    

  </head>
