{% include top.html %}

<body class="antialiased">
  {% include navbar.html %}
    <div class="row top">
      <div class="large-8 columns">
        <div class="logo">
          <h1 class="header"><a href="{{ site.url }}/avpnw/">ассоциация врачей профпатологов</a></h1>
          <h6 class="subheader"><a href="{{ site.url }}/avpnw/">Санкт-Петербурга и Ленинградской области</a></h6>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="right links">
          <a href="#">карта сайта</a> | <a href="#">регистрация</a> | <a href="#">вход</a>
        </div>
      </div>
      <hr>
    </div>

<!-- main text -->
  <div class="row">
   <div class="large-9 push-3 columns">
    {{ content }}
   </div> 
   <div class="large-3 pull-9 columns">  
   {% include navpils.html %} 
   </div>        
  </div>
  {% include footer.html %}

</body>
</html>
